*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --gui-body:#c0c0c0;
  --gui-header:#808080;
  --select-blue:#000080;
  --desktop:#008080;
}
body{
  background-color: var(--desktop);
}