:root{
  --gui-body:#c0c0c0;
  --gui-header:#808080;
  --select-blue:#000080;
  --desktop:#008080;
  --button-active:#E1E1E2;
}

.card-top{
  background-color: var(--select-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height: 1;
  margin-bottom: 1px;  
}

.card-top > h2{
  color: whitesmoke;
  font-size: medium;
  margin-left: 1em;
  padding-top: 1px
}

.card-top p{
  background-color: var(--button-bg);
  padding: 1px;
  color: whitesmoke;
  border: var(--select-blue) 1px solid;
  color: black;
}
.card-a-buttons{
  display: flex;
}

.card{
  background-color: var(--gui-body);
  width: 20vw;
  height: fit-content;
  padding: 1px;
  padding-bottom: 1em;
  min-width: 250px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.card-body{
  margin: 1em;
  display: flex;
}

.card-body > p{
  padding-left: 1em;
}

.w-button{
  background-color: var(--button-bg);
  color:black;
  box-shadow: 1px 1px 2px black;
  text-decoration: none;
  border: 1px solid #a0a0a0;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  padding: 0.1em 0.5em;
}

.w-button:active{
  background-color: var(--button-active);
  box-shadow: 1px 1px 1px black;
}

.card-bottom > a{
  text-decoration: none;
  margin-top: 0.5em;
}

.card-bottom > a:visited{
  text-decoration: none;
  margin-top: 0.5em;
}

.card-link-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5em;
}

  