*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --gui-body:#c0c0c0;
  --gui-header:#808080;
  --select-blue:#000080;
  --desktop:#008080;
  --button-bg:#C2C2C3;
}
body{
  background-color: var(--desktop);
}

.c{
  text-align: center;
}

#card-holder{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  justify-items: center;
  align-items: center;
  margin-top: 1em;
}

#selfie img{
  /* border-radius: 50%; */
  max-width: 100px;
  max-height: 100px;
}

#weather > .card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#weather .card-text{
  text-align: center;
}
#weather .card-bottom{
  margin: 0em 1em;
}
#weather .card-bottom > input{
  width: 100%;
}

.location-picker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 100;
  width: 500px;
  height: 500px;
}
#map { height: 400px; width:100%;}
.map-container { }

/* media query if screen size is below 1160px */
@media screen and (max-width: 1160px){
  #card-holder{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
  }
}

/* media query if screen size is below 757px */
@media screen and (max-width: 757px){
  #card-holder{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6,1fr);
  }
}

/* media query if screen size is below 373px */
@media screen and (max-width: 373px){
  #selfie > .card-body{
    flex-direction: column !important;
    align-items: center;
  }
}